
    <form style="position: relative;top:60px">
         
             <h6>Personal Info</h6>
             <hr>
             <div class="form-group">
             <div class="row">
                 <div class="col-sm-1"></div>
                 <div class="col-sm-2"><label>Name*</label></div>
                 <div class="col-sm-6"><input type="text" class="form-control" placeholder="please enter your name...."></div>
            </div>
           </div>
            <div class="row">
                 <div class="col-sm-1"></div>
                 <div class="col-sm-2"><label>Email*</label></div>
                 <div class="col-sm-6"><input type="text" class="form-control"  placeholder="please enter your email...."></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-2"><label>Confirm Email*</label></div>
                <div class="col-sm-6"><input type="text" class="form-control"  placeholder="please enter your confirm email...."></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"><label>Mobile*</label></div>
            <div class="col-sm-6"><input type="text" class="form-control"  placeholder="please enter your mobile number...."></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"><label>Website URL*</label></div>
            <div class="col-sm-6"><input type="text" class="form-control" placeholder="please enter yourwebsite url...."></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"><label>Occupation*</label></div>
            <div class="col-sm-6"><input type="text" class="form-control"  placeholder="please enter your occupation...."></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"><label>Password*</label></div>
            <div class="col-sm-6"><input type="text" class="form-control" placeholder="please enter your password...."></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"><label>Confirm Password*</label></div>
            <div class="col-sm-6"><input type="text" class="form-control" placeholder="please confirm your password...."></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2"><label>Address*</label></div>
            <div class="col-sm-6"><textarea  class="form-control" ></textarea></div>
        </div>
        <div class="row">
            <div class="col-sm-5"></div>
            <button class="btn btn-primary">Cancel</button>&nbsp;&nbsp;
            <button class="btn btn-success">Submit</button>
         </div>   
    </form>

